.container {
    background: rgba(73, 11, 99, 45%);
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 300px;
    height: 600px;
    border-radius: 50px;
    text-align: center;
    margin-top: 250px;
    padding-top: 20px;
    font-size: 25px;
}