.variants {
    background: #886da1;
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 220px;
    height: 600px;
    border-radius: 25px;
    text-align: center;
    margin-top: 250px;
    padding-top: 20px;
    font-size: 25px;
    overflow: auto;
    position: sticky;
    top: 250px;


}

.pole-raboti {
    font-family: Comic Sans MS, Comic Sans, cursive;
    height: 620px;
    width: 90%;
    background-image: url(https://img.freepik.com/premium-photo/background-gradient-black-overlay-abstract-background-black-night-dark-evening-with-space-text-background_661047-3742.jpg?w=360);
    background-size: cover;
    margin-top: 250px;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    color: #a7a5a8;
}

.container {
    display: flex;
    gap: 5px;
}

.container-button {
    background-color: #886da1;
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 180px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid black;


}

.lipstik {
    list-style-type: none;
    padding-left: 0;

}

.container-button:hover {
    border: 2px solid black;
    background-color: #7f609c;
    transition: background-color 0.3s ease;
}

.zag {
    border-bottom: 2px solid black;
    width: 100%;
    height: 13%;
    position: sticky;
    top: 0;
    background: #886da1;
    z-index: 1;
    padding: 10px 0;
    margin-top: 0;
    border-radius: 15px;
    margin-bottom: 25px;
}
